[submodule "config.symlink/base16-iterm2"]
	path = config.symlink/base16-iterm2
	url = git://github.com/chriskempson/base16-iterm2.git
[submodule "config.symlink/base16-vim"]
	path = config.symlink/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "config.symlink/base16-shell"]
	path = config.symlink/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "config.symlink/fonts"]
	path = config.symlink/fonts
	url = https://github.com/powerline/fonts.git
[submodule "config.symlink/weed-master"]
	path = config.symlink/weed-master
	url = https://github.com/ronilaukkarinen/weed.git
