*.log

atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

config.symlink/configstore/
config.symlink/configstore/update-notifier-npm.json
config.symlink/gcloud
config.symlink/iterm2
config.symlink/mdless

.idea/*

git/gitconfig.local.symlink

vim.symlink/plugged

irssi.symlink/*.autosave
irssi.symlink/config
irssi.symlink/logs
irssi.symlink/saved_colors
irssi.symlink/config
irssi.symlink/sasl.auth

VagrantFile
.vagrant/*

config.symlink/rtx/config.toml

.DS_Store
